body{
  color: #40514E;
  margin:0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{

  font-size: 90px;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color:#66BFBF;
}
.heading2{
    color:#66BFBF;
    font-weight: normal;
    line-height: 2px;
}
h2{
  color:#66BFBF;
  font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}
h3{

  font-family: 'Montserrat', sans-serif;
}
.top-container{
  background-color:#E4F9F5;
  position: relative;
  padding-top: 100px;
    font-size: 2.5rem;

}
.middle-container{
 margin: 100px 0;
}
.bottom-container{
 background-color: #66BFBF;
 padding: 50px 0 20px;
 color:black;
 text-decoration:none;

}
.intro{
 width: 30%;
 margin:auto;
 line-height: 2;
}
.pro{
  text-decoration: underline;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;

}

.bottom-cloud{
  position: absolute;
  bottom: 300px;
  left: 250px;
}
.heading3{
color:  #11999E;

}
.footer-link{
  color: #11999E;
  margin:10px 20px;
  text-align: center;
}
.heading{
  color:  #11999E;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.computer-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.knowledge-img{
  float: right;
    width: 25%;
    margin-left: 30px;

}
.btn{
  background-color: #66BFBF;
  border-radius: 10px;
  text-decoration-color: #FFFFFF;
  text-decoration: none;
  text-align: center;
 margin: auto;
  height: 50px;
  width: 135px;
  border: none;
}
a{
  text-decoration: none;
  color: #11999E;

}
a-hover{
  color: #EAF6F6;
}
p{
  line-height: 2;
}
hr{
  border: dotted #EAF6F6 6px;

  width: 4%;
  margin: 100px auto;
  border-bottom: none;
}
.contact-message{
  width: 40%;
 margin: 40px auto 60px;
}
.contact{
  color: #FFFFFF;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  text-align: center;
  padding: 20px 0;
}
